.ContentTitle {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ContentTitle_Audio img {
  border-radius: 50%;
//   background: var(--secondary-color);
}

.ContentTitle_Word {
    font: var(--font-xl);
    font-weight: bold;
}
.ContentTitle_Phonetic {
    font: var(--font-m);
    color: var(--secondary-color)
}