@use 'reset';
@use 'variables/global' as global;
@use './themes/normal' as normalTheme;
@use './themes/dark' as darkTheme;

.app {
    min-height: 100vh;
    background: var(--bg-color);
    font: var(--font-m);
    color: var(--primary-color);
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding: 0 40px;
}