.app.dark {
    --bg-color: rgb(30, 30, 30);
    --inverted-bg-color: #ececec;

    --primary-color: rgb(222, 222, 222);
    --inverted-primary-color: rgb(64, 64, 64);

    --secondary-color: rgb(157, 3, 240);
    --inverted-secondary-color: rgb(0 18 151);
}