.app.light {
    --bg-color: #ececec;
    --inverted-bg-color: #000058;
    
    --primary-color: rgb(64, 64, 64);
    --inverted-primary-color:rgb(222, 222, 222);

    --secondary-color: rgb(0 97 254);
    --inverted-secondary-color:rgb(1 110 1);
}