.search {
    display: flex;
    input {
        width: 100%;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        outline: none;
        background-color: var(--inverted-primary-color);
        color: inherit;

    }

}